@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --max-width: 960px;
    --rounded-sm: 0.5rem;
    --primary-bg: rgb(51, 52, 52);
    --primary-bg-gradient: linear-gradient(90deg, rgb(33, 34, 34) 0%, rgb(63, 63, 63) 100%);
    --card-bg: rgb(35, 35, 35);
    --card-outline: #626262;
    --filter-bg: rgba(228, 228, 228, 0.5);
    --filter-active-bg: rgba(212, 255, 0, 0.854);
    --filter-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.3);
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    width: 100vw;
    background: var(--primary-bg);
    background: var(--primary-bg-gradient);
}

main {
    display: flex;
    background: blue;
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.main-header h1 {
    color: #fff;
    margin: 1rem 0;
    font-weight: 300;
}

.box, .cards, .details {
    padding: 0 1rem;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
    background: var(--card-bg);
    border-radius: var(--rounded-sm);
    color: aliceblue;
    outline: 1px solid var(--card-outline);
    outline-offset: 2px;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    outline: 2px solid var(--card-outline);
    outline-offset: 3px;
}

.card:last-child {
    margin-bottom: 4rem;
}

.card-date {
    color: rgb(124, 124, 124);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category {
    background: rgba(255, 255, 255, 0.5);
    font-size: 90%;
    padding: 0.3rem 0.6rem;
    border-radius: var(--rounded-sm);
    color: black;
}

.möööö {
    align-self: flex-start;
    background: rgb(252, 55, 55);
    border-bottom: 3px solid hsl(0, 95%, 40%);
    border-radius: var(--rounded-sm);
    padding: 0.4rem 0.8rem;
    text-decoration: none;
    color: var(--primary-bg);
}

.filter {
    display: flex;
    width: 100%;
    background: linear-gradient(90deg, rgba(228, 228, 228, 0.25), rgba(228, 228, 228, 0));
    box-shadow: var(--filter-shadow);
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.filter-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem 0.5rem;
}

.filter button {
    background: var(--filter-bg);
    padding: 6px 10px;
    border-radius: var(--rounded-sm);
    border: none;
    white-space: nowrap;
}

.filter button.active {
    background: var(--filter-active-bg);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.6);
}

.details img {
    margin: 1rem 0;
    border-radius: var(--rounded-sm);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
}

.hidden {
    display: none !important;
}

button {
    cursor: pointer;
}

#filterButton {
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
}

.filterdby {
    padding: 1rem 0;
    color: #fff;
    font-weight: 300;
}

.flicker{
    animation: flicker 1.5s infinite;
}

@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        opacity: .6;
    }
    20%, 24%, 55% {
        opacity: 0;
    }
    22% {
        opacity: 0.3;
    }
}